*{
    margin : 0;
    padding: 0;
    font-family: roboto;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: brown;
}
div{
    width: 500px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;
    align-items: center;
    border-radius: 15px;

}

h3{
    font-size: 40px;
    margin-bottom: 3rem;
}
label{
    font-size: 20px;
    margin-bottom: 1rem;
}
input{
    border-radius: 5px;
    height: 20px;
    width: 150px;
    margin-bottom: 0.75rem;
    font-weight: bold;
}

#quantidade, #idade{
    width: 100px;
    text-align: center;
}
#nomes{
    text-align: center;
}

button{
    margin-bottom: 0.75rem;
    width: 120px;
    height: 30px;
    font-size: 18px;
}